<div class="ctr-images d-flex">
  <div class="col-6">
    <%= image_tag("man_hp.jpeg", id:"man")%>
  </div>
  <div class="col-3">
    <%= image_tag("woman_hp.jpeg", id: "woman")%>
  </div>
</div>

<div class="d-flex justify-content-between">
  <div class="hp-text">
    <h1>Marie Lageyre,</h1>
    <h2>Kinésiologue</h2>
  </div>

  <%= link_to new_appointment_path do %>
  <div class="btn btn-basic mt-450" id="btn-rdv">
    <h3>Prendre rendez-vous</h3>
  </div>
  <% end %>
</div>
