#btn-rdv{
  margin-top: 450px;
  h3{
    padding: 21px 16px;
    font-size: 24px;
    letter-spacing: 1px;
  }
  &:hover{
    background-color: $brown;
  }
}

.btn-basic{
  background-color: $dark-brown;
  width: fit-content;
  color: $beige;
  &:hover{
    text-decoration: none;
    color: $beige;
  }
}

.btn-confirm{
  &:hover{
    background-color: $brown;
  }
}

@media (max-width: 500px) {
  #woman{
    display: none;
  }
}
