.btn-rdv{
  background-color: $dark-brown;
  width: fit-content;
  box-shadow: 5px 5px 10px #291d1d;
  margin-top: 450px;
  h3{
    padding: 25px 25px;
    font-size: 24px;
    letter-spacing: 1px;
  }
}
