.card-app-pending{
  background-color: $beige;
  color: $brown;
  width: fit-content;
  padding: 25px;
  margin-left: 20%;
  &:hover{
    box-shadow: 10px 10px 0px rgb(41, 29, 29);
  }
}

.card-app-checked{
  position: relative;
  width: fit-content;
  background-color: $dark-brown;
  padding: 25px;
  &:hover{
    box-shadow: 10px 10px 0px $beige;
  }
  .fa-xmark{
    position: absolute
  }
}

.card-checked{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


@media (max-width: 576px) {
  .card-checked{
    flex-direction: column;
  }
}
