.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#navbar h3, .fa-house{
  font-size: 21px;
}

.pr-42{
  padding-right: 42px;
}
